{% extends 'base.html' %}


{% block title %} Главная {% endblock %}


{% block content %}

<div class="container col-md-6">
    <div class="row text-center">
        <div class="cn">
            <form method="post" action="">{% csrf_token %}
                {{long_form.long_url}}
                <input type="submit" class="btn btn-primary my-2" value="Сократить">
            </form>

            <div class="input-group mb-3">
              <input type="text" class="form-control" value="{{short_form}}" aria-label="short-url" aria-describedby="button-addon2" readonly>
              <button class="btn btn-secondary" type="button" id="button-addon2">Скопировано!</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}